.ng-autocomplete{
    width: 100%  !important;
}

/* with ULs and LIs */
.printdiv ul {
  display: block;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  width: 100%;
  
}

.printdiv li {
  list-style: none;
  display: table-row;

}

.printdiv li div {
  display: table-cell;
  padding:5px
}